*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
}

body{
   height: 100vh;
   background-color: #2e1911;
   display: -webkit-flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.clock{
   width: 500px;
   height: 500px;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
   border:4px solid #000;
   position: relative;
}

.clock .number{
   --rotation:0;

   position:absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   transform:rotate(var(--rotation));
   font-size:1.8rem;
   font-weight: 500;
   padding: 15px;
}

.clock .number.number-1{
   color:#FF0082;
   --rotation:30deg;
}

.clock .number.number-2{
   color:#8B04E1;
   --rotation:60deg;
}

.clock .number.number-3{
   color:#FADF0C;
   --rotation:90deg;
}

.clock .number.number-4{
   color:#B913EB;
   --rotation:120deg;
}

.clock .number.number-5{
   color:#DE045B;
   --rotation:150deg;
}

.clock .number.number-6{
   color:#FF1C08;
   --rotation:180deg;
}

.clock .number.number-7{
   color:#0AC7A6;
   --rotation:210deg;
}

.clock .number.number-8{
   color:#00D701;
   --rotation:240deg;
}

.clock .number.number-9{
   color:#820C34;
   --rotation:270deg;
}

.clock .number.number-10{
   color:#FF0196;
   --rotation:300deg;
}

.clock .number.number-11{
   color:#FF6263;
   --rotation:330deg;
}

/* Pointers */

.clock::after{
   content: "";
   position:absolute;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   top:50%;
   left: 50%;
   z-index: 11;
   background-color: #000;
   transform: translate(-50%,-50%);
}

.clock .hand{
   --rotation:0;

   position:absolute;
   bottom: 50%;
   left: 50%;
   background-color: #000;
   z-index:10;
   transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
   transform-origin: bottom;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.clock .hand.seconds{
   width: 3px;
   height: 40%;
   background-color: #2e1911;
}

.clock .hand.minutes{
   width: 7px;
   height: 35%;
   background-color: #000;
}

.clock .hand.hours{
   width: 10px;
   height: 25%;
   background-color: #000;
}